option_settings:
  "aws:elasticbeanstalk:container:python":
    WSGIPath: application:application # Specifies the WSGI entry point for the Python application.

    # 'WSGIPath' is used to tell Elastic Beanstalk where the entry point of the 
    # application is. It should be in the format: module_name:callable.
    
    # 'application' (before the colon) refers to the Python file 'application.py' 
    # which contains the WSGI application code.
    
    # 'application' (after the colon) refers to the WSGI callable object in 'application.py'.
    # In this case, it's assumed you have an object named 'app' in your 'application.py'. callable WSGI object (e.g., a Flask or Django app instance) inside app.py.
